<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Incomplete:</strong>
    <%= user.incomplete %>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= user.complete %>
  </p>

</div>
